<%inherit file="base.html"/>
<%block name="title"> Presence Top5 users for month </%block>
<%block name="content">
    <script src="${url_for('static', filename='/js/parseInterval.js')}"></script>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                var loading = $('#loading');
                $.getJSON("${url_for('months_data_view')}", function(result) {
                    var dropdown = $("#user_id");
                    $.each(result, function(item) {
                        dropdown.append($("<option />").val(this.month_id).text(this.name));
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#user_id').change(function() {
                    var selected_user = $("#user_id").val(),
                        chart_div = $('#chart_div');
                    if(selected_user) {
                        loading.show();
                        chart_div.hide();
                        $.getJSON("${url_for('presence_months_top5_view', date_id=0)[:-2]}/"+selected_user, function(result) {
                            var options = {},
                                formatter;
                            if (result.length) {
                                $.each(result[0], function(index, value) {
                                    value[1] = parseInterval(value[1]);
                                    value[2] = parseInterval(value[2]);
                                });
                                for (var i=0; i<5; i++) {
                                    $('#avatar'+i).attr('src', result[1][i])
                                };
                                var data = new google.visualization.DataTable();
                                data.addColumn('string', 'Weekday');
                                data.addColumn({type: 'datetime', id: 'Start' });
                                data.addColumn({type: 'datetime', id: 'End' });
                                data.addRows(result[0]);
                                options = {
                                    hAxis: {title: 'Weekday',},
                                    width: 600
                                };
                                formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'});
                                formatter.format(data, 1);
                            } else {
                                chart_div.html("No data loaded");
                            }
                            chart_div.show();
                            loading.hide();
                            var chart = new google.visualization.Timeline(chart_div[0]);
                            chart.draw(data, options);
                        });
                    }
                });
            });
        })(jQuery);
    </script>
</%block>

